@using bandienthoai.Areas.Admin.Models
@model List<DonHangModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <h2 class="no-margin-bottom text-info ">Quản Lý Đơn Hàng</h2>
    <div class="page-button ml-auto">

        <a href="#" id="btnChiTiet" class="btn btn-outline-success"><i class="fas fa-info"></i> Chi Tiết</a>

        <a href="#" id="btnInDon" class="btn btn-outline-warning"><i class="fas fa-print"></i> In Đơn Hàng</a>
        <a href="#" id="btnChoDuyet" class="btn btn-outline-primary"><i class="far fa-envelope"></i> Chờ Duyệt</a>
        <a href="#" id="btnDaDuyet" class="btn btn-outline-info"><i class="far fa-envelope"></i> Đã Duyệt</a>
        <a href="#" id="btnThanhToan" class="btn btn-outline-success"><i class="fas fa-credit-card"></i> Đã Thanh Toán</a>
        <a href="#" id="btnGiaoHang" class="btn btn-outline-info"><i class="fas fa-credit-card"></i> Đã Giao Hàng</a>
        <a href="#" id="btnDelete" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Xóa</a>
        <a href="/Admin/Home/Index" class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i> Trở Về</a>
    </div>
}

<div class="input-group-box">


    @using (Html.BeginForm("Index", "DonHang", FormMethod.Get))
    {
        <div class="container">
            <div class="row">


                @*<div class="col col-4">
                        <div class="input-item">

                            <div class="input-group">
                                <p></p>
                                <input type="text" class="form-control" name="date" id="date" data-select="datepicker" data-locked="25/12/2014;1/1/2015" data-toggle="datepicker">
                                <span class="input-group-btn"><button type="button" class="btn btn-primary" data-toggle="datepicker"><i class="fas fa-calendar-alt"></i></button></span>
                            </div>
                        </div>
                    </div>*@
                @*<div class="col col-4">
                        <div class="input-item">
                            <div class="form-group">
                                <p>Nhà cung cấp</p>
                                @Html.DropDownList("ID_NCC", (IEnumerable<SelectListItem>)ViewBag.ID_NCC, "--select--", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>*@
                <div class="col col-4">
                    <div class="input-item">

                        <div class="form-group">
                            <p>Trạng Thái</p>
                            @Html.DropDownList("TRANGTHAI", (IEnumerable<SelectListItem>)ViewBag.TRANGTHAI, "--Trạng Thái--", new { @class = "form-control" })

                        </div>
                    </div>

                </div>
                <div class="col col-4">
                    <div class="input-item" style="display:none">
                        <div class="form-group">
                            <p>Tìm kiếm</p>

                            <input class="form-control" type="text" id="txtSearch" placeholder="Tìm kiếm" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-table">
            <div class="container-fluid">
                <table id="customer_data" class="table table-striped table-bordered">
                    <thead id="list-header">
                        <tr>
                            <th><input type="checkbox" id="checkall" /></th>
                            <th scope="col">STT</th>

                            <th scope="col">Số Hóa Đơn</th>

                            <th scope="col">Họ Tên</th>
                            <th scope="col">Địa Chỉ</th>
                            <th scope="col">Thông Tin Liên Hệ</th>
                            <th scope="col">Ngày Tạo</th>
                            <th scope="col">Ngày Giao</th>
                            <th scope="col">Ngày Xuất Hóa Đơn</th>
                            <th scope="col">Ngày Kết Thúc Giao</th>
                            <th scope="col">Trạng thái</th>


                            <th>Chi Tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr id="row_@item.HOADON_ID" class="Search">
                                <td><input type="checkbox" value="@item.HOADON_ID" class="record" /></td>
                                <td><p></p></td>
                                <td><p>@item.HOADON_ID</p></td>
                                <td class="SearchName"><p>@item.HOTEN</p></td>

                                <td><p>@item.DIACHI</p></td>
                                <td><p>@item.SDT</p></td>

                                <td><p>@item.CREATEDATE</p></td>
                                <td><p>@item.NGAYKTGIAO</p></td>
                                <td><p>@item.NGAYXUATHD</p></td>
                                <td><p>@item.NGAYKTGIAO</p></td>
                                <td><p class="btn-active" data-id="@item.HOADON_ID" id="hd_@item.HOADON_ID"><i class='far fa-envelope'></i> @item.TRANGTHAI</p></td>

                                <td>


                                    <a href="/Admin/DonHang/Edit/@item.HOADON_ID">
                                        <button id="btn-edit" type="button" class="btn btn-default">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
        </div>
        @*Create A Popup Modal With Registration Form For delete Record*@
        <div class="modal fade" id="DeleteConfim">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="ModalTitle"></h4>
                        <a href="#" class="close" data-dismiss="modal">&times;</a>

                    </div>
                    <div class="modal-body">
                        <h4>Bạn Có Chắc Muốn xóa?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-times"></i></a>
                        <a href="#" class="btn btn-danger" id="btnxacnhan"><i class="fas fa-check"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section jsFooter{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Assets/admin/js/Controllers/ChangeStatus.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {




            var t = $('#customer_data').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[1, 'asc']],
                "language": {

                    "sSearch": "Tìm kiếm:",
                    "sEmptyTable": "Không có dữ liệu trong bảng",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "sInfoEmpty": "Hiển thị 0 tới 0 của 0 Phần tử",
                    "sInfoFiltered": "(filtered from _MAX_ total entries)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Hiển thị _MENU_ Phần tử",
                    "sLoadingRecords": "Loading...",
                    "sProcessing": "Processing...",
                    "sZeroRecords": "No matching records found",
                    "oPaginate": {
                        "sFirst": "Trang đầu",
                        "sLast": "Trang cuối",
                        "sNext": "Trang sau",
                        "sPrevious": "Trang trước"
                    },
                    "oAria": {
                        "sSortAscending": ": activate to sort column ascending",
                        "sSortDescending": ": activate to sort column descending"
                    }
                }
            });

            t.on('order.dt search.dt', function () {
                t.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
            $("#list-header").css("background-color", "lightblue");
            $("#list-header").on({
                mouseenter: function () {
                    $(this).css("background-color", "lightgray");
                },
                mouseleave: function () {
                    $(this).css("background-color", "lightblue");
                }
            });

        });
    </script>

    @*
        <script>
            function filterGlobal() {
                $('#customer_data').DataTable().search(
                    $('#TRANGTHAI option:selected').text(),

                ).draw();
            }

            function filterColumn(i) {
                $('#customer_data').DataTable().column(i).search(
                    $('#col' + i + '_filter').val(),

                ).draw();
            }

            $(document).ready(function () {
                $('#customer_data').DataTable();

                $('input.global_filter').on('keyup click', function () {
                    filterGlobal();
                });

                $('input.column_filter').on('keyup click', function () {
                    filterColumn($(this).parents('tr').attr('data-column'));
                });
            });
        </script>*@
    @*search*@
    <script>
        function Contains(txt1, txt2) {

            if (txt1.indexOf(txt2) != -1) {

                return true;
            }
        }
        $(document).ready(function () {

            $("#txtSearch").keyup(function () {
                var txtSearch = $("#txtSearch").val().toLowerCase();

                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), txtSearch)) {
                        $(this).hide();

                    }
                    else {
                        $(this).show();

                    }
                });

            });
        });
    </script>
    <script>
        function fillerByStatus() {
            var filter, table, tr, td, i, txtValue, txtValuess="--trạng thái--";
            table = document.getElementById("customer_data");

            tr = table.getElementsByTagName("tr");
            filter = $("#TRANGTHAI option:selected").text().toLowerCase();

            if (filter == txtValuess) {
                for (i = 0; i < tr.length; i++) {
                    tr[i].style.display = "";
                }
            }
            else {


                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[10];

                    if (td) {
                        txtValue = td.textContent || td.innerText;

                        if (txtValue.toLowerCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

        }


    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#TRANGTHAI").change(function () {
                fillerByStatus()
            });


        });
    </script>
    @*check an hien*@
    <script>
        $(document).ready(function () {
            $("#ModalTitle").text("Xóa");
            //$("#IDLOAITAIKHOAN").change(function () {

            //    fillerBytypeUser()
            //});

        });
        //set check all
        $("#checkall").click(function () {

            $("#customer_data tbody").find('input[class="record"]').each(function () {

                if ($("#checkall").is(":checked")) {

                    $(this).prop('checked', true);
                }
                else {

                    $(this).prop('checked', false);
                }
            });
        });


        //se chờ duyệt
        $("#btnChoDuyet").click(function () {
            changeDuyet("/DonHang/ChangeChoDuyet?id=");
        });
        $("#btnDaDuyet").click(function () {
            changeDuyet("/DonHang/ChangeDaDuyet?id=");
        });
        $("#btnThanhToan").click(function () {
            changeDuyet("/DonHang/ChangeThanhToan?id=");
        });
        $("#btnGiaoHang").click(function () {
            changeDuyet("/DonHang/ChangeGiaoHang?id=");
        });

        //change duyet
        function changeDuyet(url) {
            $("#customer_data tbody input[class='record']").each(function () {
                if ($(this) != null) {

                    if ($(this).is(":checked")) {
                        //var tmp = $(this);
                        //var va = this.value;
                        //   var btn = $(this).parents("tr").find('input[class="btnAnHien"]');
                        var x = this.value;
                        $.ajax({
                            url: url + x,
                            dataType: "json",
                            type: "POST",
                            success: function (response) {

                                if (response == 1) {
                                    $("#hd_" + x).html("<i class='far fa-envelope'></i> Chờ Duyệt");

                                }
                                else if (response == 2)
                                    $("#hd_" + x).html("<i class='far fa-envelope'></i> Đã Liên Hệ");
                                else if (response == 3)
                                    $("#hd_" + x).html("<i class='fas fa-credit-card'></i> Đã Thanh Toán");
                                else if (response == 4)
                                    $("#hd_" + x).html("<i class='fas fa-credit-card'></i> Đã Giao Hàng");
                            }
                        });


                    }

                    $(this).prop("checked", false);
                }
                $("#checkall").prop("checked", false);

            });

        }
    </script>
    <script type="text/javascript">

         //delete fonfim
        $("#btnDelete").click(function () {

            var x = @ViewBag.typeLoai;

            if (x == "2") {
                alert("Bạn không được quyền xóa!");
            }
            else {
                deletetable();
            }

        });
        //delete table

        function deletetable() {
            $("#customer_data tbody").find('input[class="record"]').each(function () {
                if ($(this) != null) {


                     if ($(this).is(":checked")) {
                        var tmp = $(this);
                        var va = this.value;

                        $("#DeleteConfim").modal("show");
                        $("#btnxacnhan").click(function () {
                            $("#DeleteConfim").modal("hide");
                            $.ajax({
                                url: "/DonHang/Delete?id=" + va,
                                dataType: "json",
                                type: "POST",
                                success: function (response) {
                                    console.log(response);
                                    if (response == true) {
                                        alert("Xóa thành công!");
                                    }
                                    else {
                                        alert("Xóa thất bại!");
                                    }
                                }
                            });
                            $(tmp).parents("tr").remove();
                        });
                    }

                }


            });
        }

    </script>
}

