@using bandienthoai.Areas.Admin.Models
@model List<TaiKhoanModel>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <h2 class="no-margin-bottom">Quản Lý Tài Khoản</h2>
    <div class="page-button ml-auto">
        <a href="/Admin/Home/Index"><button id="btn-back" type="button" class="btn btn-default"><i class="fas fa-arrow-left"></i> Trở Về</button></a>
        <a href="/Admin/User/Create"><button id="btn-add" type="button" class="btn btn-default"><i class="fas fa-plus"></i> Tạo Mới</a></button></a>

    </div>
}



@using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "needs-validation" }))
{
    <div class="container">
        <div class="row">
            <div class="col col-4">
                <div class="input-item">

                    <div class="form-group mt-2">
                        
                        @Html.DropDownList("IDLOAITAIKHOAN", (IEnumerable<SelectListItem>)ViewBag.IDLOAITAIKHOAN, "--Chọn loại tài khoản--", new { @class = "form-control" })

                    </div>
                </div>

            </div>
            <div class="col col-4">
                <div class="input-item">
                    <div class="form-group">

                    </div>
                </div>
            </div>
        </div>
        <div class="page-table ">
            <div class="section">
                <table id="customer_data" class="table table-striped table-bordered ">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên tài khoản</th>
                            <th>Loại tài khoản</th>
                            <th>Họ tên</th>
                            <th>SÐT</th>
                            <th>Email</th>
                            <th>Ðịa chỉ</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr id="row_@item.ID">
                                <td><p></p></td>
                                <td><p>@item.TENTAIKHOAN</p></td>
                                <td><p>@item.LOAITAIKHOAN</p></td>
                                <td><p>@item.HOTEN</p></td>
                                <td><p>@item.SDT</p></td>
                                <td><p>@item.EMAIL_TK</p></td>
                                <td><p>@item.DIACHI_TK</p></td>
                                <td><a href="#" class="btnCheckStatus" data-id="@item.ID">@Html.Raw(item.STATUS ? "Hoạt động" : "Khoá")</a></td>
                                <td class="d-flex justify-content-center td-button">
                                    <button id="btn-del" onclick="checkDelete(@item.ID)" type="button" class="btn btn-default">
                                        <i class='fas fa-trash-alt'></i>
                                        @*@Html.Raw(@Ajax.ActionLink("[replacetext]", "Delete", new { id = item.ID }, new AjaxOptions
                                        {
                                            Confirm = "Bạn có muốn xóa?",
                                            OnComplete = "$('#row_" + @item.ID + "'" + ").remove()",
                                            HttpMethod = "Delete"
                                        }).ToHtmlString().Replace("[replacetext]", "<i class='fas fa-trash-alt'></i>"))*@
                                    </button>

                                    @*<a href="/Admin/User/Edit/@item.ID">*@
                                    <a id="@item.ID" href="javascript:Editdata(@item.ID)">
                                        <button id="btn-edit" type="button" class="btn btn-default">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
        @*Create A Popup Modal With Registration Form For delete Record*@
        <div class="modal fade" id="DeleteConfim">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="ModalTitle"></h4>
                        <a href="#" class="close" data-dismiss="modal">&times;</a>

                    </div>
                    <div class="modal-body">
                        <h4>Xóa 1 loại tài khoản</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-times"></i></a>
                        <a href="#" class="btn btn-danger" id="btnxacnhan"><i class="fas fa-check"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



}

@section jsFooter{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script >
          var typeUser = @ViewBag.typeLoai;
       
      
        var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {
                $('.btnCheckStatus').off('click').on('click', function (e) {
                    if (typeUser != "1") {
                        alert("Bạn không được quyền khóa tài khoản");
                    } else {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "ChangeStatus",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            console.log(response);
                            if (response.status == true) {
                                btn.text('Hoạt động');
                            }
                            else {
                                btn.text('Khoá');
                            }
                        }
                        });
                    }
                });
            }
        }
            user.init();
       
    </script>
    <script type="text/javascript">


        $(document).ready(function () {


           

            var t = $('#customer_data').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[1, 'asc']],
                "language": {

                    "sSearch": "Tìm kiếm:",
                    "sEmptyTable": "Không có dữ liệu trong bảng",
                    "sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "sInfoEmpty": "Hiển thị 0 tới 0 của 0 Phần tử",
                    "sInfoFiltered": "(filtered from _MAX_ total entries)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Hiển thị _MENU_ Phần tử",
                    "sLoadingRecords": "Loading...",
                    "sProcessing": "Processing...",
                    "sZeroRecords": "No matching records found",
                    "oPaginate": {
                        "sFirst": "Trang đầu",
                        "sLast": "Trang cuối",
                        "sNext": "Trang sau",
                        "sPrevious": "Trang trước"
                    },
                    "oAria": {
                        "sSortAscending": ": activate to sort column ascending",
                        "sSortDescending": ": activate to sort column descending"
                    }
                }
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();


        });
    </script>
    <script>
        $('#apply-form input').blur(function () {
            if ($('input:text').is(":empty")) {
                $(this).parents('p').addClass('warning');
            }
        });
    </script>
    <script>
        function fillerBytypeUser() {
            var filter, table, tr, td, i, txtValue, select = "--CHỌN LOẠI TÀI KHOẢN--";

            filter = $("#IDLOAITAIKHOAN option:selected").text().toUpperCase();
            table = document.getElementById("customer_data");
            tr = table.getElementsByTagName("tr");

            if (filter == select.toUpperCase()) {

                for (i = 0; i < tr.length; i++) {
                    tr[i].style.display = "";
                }
            }
            else {
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];

                    if (td) {
                        txtValue = td.textContent || td.innerText;

                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }

        }
         function Editdata(a) {
             var x = @ViewBag.typeLoai;
             if (a ==@ViewBag.IDUser) {

                 window.location.href = "/Admin/User/Edit/" + a;
             }
              else if (x == "2") {
                 alert("Bạn không được quyền chỉnh sửa thông tin người khác!");

             }
             else {

                 window.location.href = "/Admin/User/Edit/" + a;

             }
        }
        function checkDelete(a) {

                var x = @ViewBag.typeLoai;
            var id =@ViewBag.IDUser;
        
            if (a ==id) {
                alert("Bạn không được xóa chính bạn");
              
            }
            else if (x == "2") {
                alert("Bạn không được quyền xóa");
               
            }
            else {
                $('#DeleteConfim').modal("show");
                $('#btnxacnhan').click(function () {

                    $('#DeleteConfim').modal("hide");
                $.ajax({
                    type: "POST",
                    url: "/User/Delete?id=" + a,
                    success: function (value) {
       
                        if (value ) {
                            
                            $("#row_" + a).remove();
                           alert("Xóa thành công!");

                        }
                        else {
                    
                          alert("Xóa thất bại!");

                        }


                    }
                    });
                });
            }
         }
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#IDLOAITAIKHOAN").change(function () {

                fillerBytypeUser()
            });
            
        });
       
    </script>
}

