@model List<bandienthoai.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section js{
    @*
        <script src="~/Assets/client/controller/cartController.js"></script>*@
    <script>
        var cart = {
            init: function () {
                cart.regEvents();
            },
            regEvents: function () {
                $('#btnContinue').off('click').on('click', function () {
                    window.location.href = "/";
                });
                $('#btnPayment').off('click').on('click', function () {
                    window.location.href = "/thanh-toan";
                });
                $('#btnUpdate').off('click').on('click', function () {
                    var listProduct = $('.txtQuantity');
                    var listCart = [];
                    $.each(listProduct, function (i, item) {
                        listCart.push({
                            Quantity: $(item).val(),
                            Product: {
                                SANPHAM_ID: $(item).data('id')
                            }

                        });
                    });

                    $.ajax({
                        url: '/Cart/Update',
                        data: { cartModel: JSON.stringify(listCart) },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/gio-hang";
                            }

                        }
                    });
                });
                $('#btnDelete').off('click').on('click', function () {

                    $.ajax({
                        url: '/Cart/DeleteAll',

                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/gio-hang";
                            }

                        }
                    });
                });
                // xóa từng sản phẩm
                $('.btn-delete').off('click').on('click', function (e) {

                    e.preventDefault();
                    $.ajax({
                        url: '/Cart/Delete?id=' + $(this).data('id'),

                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/gio-hang";
                            }

                        }
                    });
                });
            }
        }
        cart.init();
    </script>

    <script type="text/javascript">
        function FormatNumber(pNumber) {
            var num = pNumber.toString().replace(/\$|\,/g, '');
            if (isNaN(num)) {
                num = "";
            }
            sign = (num == (num = Math.abs(num)));
            num = Math.floor(num * 100 + 0.50000000001);
            num = Math.floor(num / 100).toString();
            for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++) {
                num = num.substring(0, num.length - (4 * i + 3)) + ',' + num.substring(num.length - (4 * i + 3));
            }
            return (((sign) ? '' : '-') + num);
        }

       
        $(document).ready(function () {
            $("#txtSoLuong").keyup(function () {
                if (isNaN($("#txtSoLuong").val()) || $("#txtSoLuong").val() <= 0 || $("#txtSoLuong").val().trim().length == 0) {
                    $("#txtSoLuong").val(1);
                }
                var tmp = $("#PriceSale").text();
                var SoLuong = parseInt($("#txtSoLuong").val());
                var GiaBan = parseInt(tmp.toString().replace(/\$|\,/g, ''));
                $("#TotalPrice").text(FormatNumber(GiaBan * SoLuong));

            });

        });
    </script>
}
<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th scope="col">Mã sản phẩm</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Ảnh sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá(VNĐ)</th>
                        <th scope="col">Thành tiền(VNĐ)</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Product.MA_SANPHAM</td>
                        <td>@item.Product.TEN_SANPHAM</td>
                        <td><div class="box-image"><img class="img-thumbnail" src="@item.Product.HINHANH_SANPHAM" /></div></td>
                        <td>
                            <div class="product-buy">


                                <p class="product-row">

                                    <span>
                                        <input id="txtSoLuong" type="text" data-id="@item.Product.SANPHAM_ID" class="txtQuantity form-control" value="@item.Quantity"
                                               maxlength="4">
                                    </span>
                                </p>
                            </div>
                        </td>
                        @{ 
                            
                        }
                        <td><div id="PriceSale" readonly value="">@(item.Product.GIA_SANPHAM != 0 ? (item.Product.GIA_SANPHAM - item.Product.GIA_SANPHAM * item.Product.KHUYENMAI / 100).ToString("N0") : "Liên Hệ")</div></td>
                        <td><div id="TotalPrice">@(item.Product.GIA_SANPHAM != 0 ? ((item.Product.GIA_SANPHAM - item.Product.GIA_SANPHAM * item.Product.KHUYENMAI / 100) * item.Quantity).ToString("N0"): "Liên Hệ")</div></td>
                        <td><a class="btn btn-outline-danger btn-delete" data-id="@item.Product.SANPHAM_ID" href="#"><i class="fa fa-delete"></i>xóa</a></td>
                    </tr>

                    }



                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <button id="btnContinue" class="btn btn-danger mb-2" style='min-width:165px'>Tiếp tục mua hàng</button>
                    <button id="btnUpdate" class="btn btn-danger mb-2" style='min-width:165px'>Cập nhật giỏ hàng</button>
                    <button id="btnDelete" class="btn btn-danger mb-1" style='min-width:165px'>Xóa giỏ hàng</button>
                    <button id="btnPayment" class="btn btn-danger mb-1" style='min-width:165px'>Thanh Toán</button>
                </div>


            </div>

        }
        else
        {
            <p>Chưa có sản phẩm nào trong giỏ hàng</p>
        }
    </div>
</div>



